{{#each events}}
        <div class="content-holder">
            <div class="card" class="col-md-6 col-sm-12 details-text">
                <img src="../styles/img/potluck.jpg" class="card-img-top" style="height:20rem">
                <div class="card-body">

                    <h2>{{event_name}}</h2>
                    <address>
                        <strong>ID: </strong>
                        {{id}}
                        <br>
                        <strong>Date: </strong>
                        {{event_date}}
                        <br>
                        <strong>Host: </strong>
                        {{host_name}}
                        <br>
                        <strong>Location: </strong>
                        {{event_location}}
                        <br>
                        <strong>Description: </strong>
                        {{event_description}}
                        <br>
                        <strong>Category: </strong>
                        {{category}}
                    </address>
                    <a class="btn btn-imfo btn-read-more" href="/view2/{{[id]}}" id="{{[id]}}">View Event</a>
                    <br>
                </div>
            </div>
        </div>
        {{/each}}