<!--banner-->
<section class="headerSmall">
    <div class="bg-color">
        <header id="header">
            <div class="container">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    {{#unless user}}
                    <a href="login">Log In</a>
                    {{/unless}}
                    {{#if user}}
                    <a href="logout">Log Out</a>
                    {{/if}}
                    <a href="/">About</a>
                    {{#if user}}
                    <a href="host">Host An Event</a>
                    {{/if}}
                    <a href="view">View Current Events</a>
                </div>
                <!-- Use any element to open the sidenav -->
                <span onclick="openNav()" class="pull-right menu-icon">☰</span>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="inner text-center">
                    <h1 id="logo2">PotLucky</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / banner -->

<!--about-->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center marb-35 view-div">
                <h1 class="header-h">Upcoming Events!</h1>
                <p class="header-p">Find your event or browse all our upcoming events.
                    <br>Search by using the event name, user name, or unique ID.</p>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/view/Potluck">Potluck</a>
                    <a class="dropdown-item" href="/view/Convention">Convention</a>
                    <a class="dropdown-item" href="/view/TailGate">TailGate</a>
                    <a class="dropdown-item" href="/view/Medieval%20Banquet">Medieval Banquet</a>
                    <a class="dropdown-item" href="/view/Bake%20Sale">Bake Sale</a>
                </div>
            </div>

            <br>
            <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th class="text-center" scope="col">Event Name</th>
                            <th class="text-center" scope="col">Event Date</th>
                            <th class="text-center" scope="col">Event Location</th>
                            <th class="text-center" scope="col">Host Name</th>
                            <th class="text-center" scope="col">Event description</th>
                            <th class="text-center" scope="col">Event Category</th>
                        </tr>
                    </thead>
                    <tbody>

            {{#each events}}
            <tr>
                <td>{{id}}</td>
                <td id="event-button"><a href="/view2/{{[id]}}" id="{{[id]}}">
                    {{event_name}}
                </a></td>
                <td>{{event_date}}</td>
                <td>{{event_location}}</td>
                <td>{{host_name}}</td>
                <td>{{event_description}}</td>
                <td>{{category}}</td>
            </tr>
            {{/each}}
            </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-1"></div>
    </div>
    </div>
</section>
<!-- footer -->
<footer class="footer text-center">
    <div class="footer-top">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 text-center">
                <div class="widget">
                    <h4 class="widget-title">PotLucky</h4>
                    <address>UCF<br>Orlando, FL</address>
                    <div class="social-list">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://github.com/nosidam48/Potlucky"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>
                    <p class="copyright clear-float">
                        © Delicious Theme. All Rights Reserved
                        <div class="credits">
                            <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious
                -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / footer -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/contactform.js"></script>