<!--banner-->
<section class="headerSmall">
    <div class="bg-color">
        <header id="header">
            <div class="container">
                <div id="mySidenav" class="sidenav">
                    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                    {{#unless user}}
                    <a href="/login">Log In</a>
                    {{/unless}}
                    {{#if user}}
                    <a href="/logout">Log Out</a>
                    {{/if}}
                    <a href="/">About</a>
                    {{#if user}}
                    <a href="/host">Host An Event</a>
                    <a href="/hostview">View Your Events</a>
                    {{/if}}
                </div>
                <!-- Use any element to open the sidenav -->
                <span onclick="openNav()" class="pull-right menu-icon">☰</span>
            </div>
        </header>
        <div class="container">
            <div class="row">
                <div class="inner text-center">
                    <a href="/">
                        <h1 id="logo2">PotLucky</h1>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / banner -->

<!--about-->
<section id="about" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center marb-35 view-div">
                <h1 class="header-h">Upcoming Events!</h1>
                <p class="header-p">Browse all upcoming events.
                </p>
            </div>
        </div>

        <div class="dropup pull-left">
            <button class="btn btn-imfo btn-read-more" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Party Categories
            </button>
            <div class="dropdown-menu dropdown-menu-center" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item" href="/{{#if hv}}host{{/if}}view/Potluck">Potluck</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/{{#if hv}}host{{/if}}view/Convention">Convention</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/{{#if hv}}host{{/if}}view/TailGate">TailGate</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/{{#if hv}}host{{/if}}view/Medieval%20Banquet">Medieval Banquet</a>
                </li>
                <li>
                    <a class="dropdown-item" href="/{{#if hv}}host{{/if}}view/Bake%20Sale">Bake Sale</a>
                </li>
            </div>
        </div>
        <br>
        <!--Event Cards-->
        <br>
        <br>
        <br>
        <div class="row">
            {{#each events}}

            <div class="content-holder">
                <div class="card" class="col-md-6 col-sm-12 details-text">
                    <img src="../public/styles/img/{{category}}.jpg" class="card-img-top" style="height:20rem">
                    <div class="card-body">

                        <h2>{{event_name}}</h2>
                        <address>
                            <a class="btn btn-imfo btn-read-more" href="/{{#if ../hv}}host{{/if}}view2/{{[id]}}" id="{{[id]}}">View
                                Event</a>
                            <br>
                            <strong id="date{{id}}">Date: </strong>

                            <br>
                            <strong>Host: </strong>
                            {{host_name}}
                            <br>
                            <strong>Location: </strong>
                            {{event_location}}
                            <br>
                            <strong>Category: </strong>
                            {{category}}
                            <br>
                            <strong>Description: </strong>
                            {{event_description}}
                            <br>
                        </address>
                        <br>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</section>

<!--/Event Cards-->

<!-- footer -->
<footer class="footer text-center">
    <div class="footer-top">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 text-center">
                <div class="widget">
                    <h4 class="widget-title">PotLucky</h4>
                    <address>UCF<br>Orlando, FL</address>
                    <div class="social-list">
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="https://github.com/nosidam48/Potlucky"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </div>
                    <p class="copyright clear-float">
                        © Delicious Theme. All Rights Reserved
                        <div class="credits">
                            <!--
                  All the links in the footer should remain intact.
                  You can delete the links only if you purchased the pro version.
                  Licensing information: https://bootstrapmade.com/license/
                  Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Delicious
                -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- / footer -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/contactform.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script>
    "{{#each events}}"
    $("#date" + "{{id}}").append(moment("{{event_date}}").format("M/D/YYYY h:mm A"))
    "{{/each}}"
</script>